/*---[ Misc ]-----------------------------------------------------------------*/

.kTip-container {
	-webkit-backface-visibility: hidden; /* WebKit fix for CSS animations */
}

/*---[ Styles ]---------------------------------------------------------------*/

/* Style: default modal */
.kT-modal .kTip-content {
	background-color: #fff;
	border: 1px solid #999;
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
	        border-radius: 2px;
	-webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
	   -moz-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
	        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
	overflow: auto;
	position: relative;
}

/* Style: default tooltip */
.kT-tooltip .kTip-content {
	background-color: #fff;
	border: 1px solid #999;
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
	        border-radius: 2px;
	-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
	   -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
	        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

.kT-tooltip .kTip-arrow-shadow {
	border-color: #888;
}

/*---[ Animations (daneden.me/animate) ]------------------------------------- */

/* fadeIn */
@-webkit-keyframes kTip-fadeIn {
	  0% { opacity: 0; }
	100% { opacity: 1; }
}

@-moz-keyframes kTip-fadeIn {
	  0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes kTip-fadeIn {
	  0% { opacity: 0; }
	100% { opacity: 1; }
}

/* fadeInDown */
@-webkit-keyframes kTip-fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes kTip-fadeInDown {
	0% {
		opacity: 0;
		-moz-transform: translateY(-20px);
	}
	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@keyframes kTip-fadeInDown {
	0% {
		opacity: 0;
		transform: translateY(-20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

/* fadeOut */
@-webkit-keyframes kTip-fadeOut {
	  0% { opacity: 1; }
	100% { opacity: 0; }
}

@-moz-keyframes kTip-fadeOut {
	  0% { opacity: 1; }
	100% { opacity: 0; }
}

@keyframes kTip-fadeOut {
	  0% { opacity: 1; }
	100% { opacity: 0; }
}

/* fadeOutDown */
@-webkit-keyframes kTip-fadeOutDown {
	0% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
	100% {
		opacity: 0;
		-webkit-transform: translateY(20px);
	}
}

@-moz-keyframes kTip-fadeOutDown {
	0% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
	100% {
		opacity: 0;
		-moz-transform: translateY(20px);
	}
}

@keyframes kTip-fadeOutDown {
	0% {
		opacity: 1;
		transform: translateY(0);
	}
	100% {
		opacity: 0;
		transform: translateY(20px);
	}
}
